body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

#player-container {
    position: relative;
    width: 75vw;
    height: 75vh;
    border: 2px solid white;
}

#player {
    width: 100%;
    height: 100%;
}

.control {
    position: absolute;
    bottom: -60px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

#logo {
    left: 8px;
    background-image: url('/download.png');
}

#next {
    right: 58px;
    background-image: url('/fast-forward.png');
}

#audio {
    right: 8px;
    background-image: url('/speaker-filled-audio-tool.png');
}

.control:hover {
    opacity: 1;
}

#progress-bar-container {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}
